In [104]:
import pandas as pd
import numpy as np

def read_csv(path):
  data = pd.read_csv(path)
  return data


training_data_path = "../datasets/full datasets/"

    # datasets
demand_train_data = read_csv(f"{training_data_path}/Demand_train_full.csv").iloc[:,1:]
price_train_data = read_csv(f"{training_data_path}/Price_train_full.csv").iloc[:,1:]
solar_train_data = read_csv(f"{training_data_path}/Solar_train_full.csv").iloc[:,1:]
wind_train_data = read_csv(f"{training_data_path}/Wind_train_full.csv").iloc[:,1:]

In [105]:
demand_temp = []
solar_temp = []
wind_temp = []
price_temp = []

for i in range(0,731):
    demand_temp.append(demand_train_data.iloc[:,i])

for i in range(0,731):
    solar_temp.append(solar_train_data.iloc[:,i])

for i in range(0,731):
    wind_temp.append(wind_train_data.iloc[:,i])

for i in range(0,731):
    price_temp.append(price_train_data.iloc[:,i])

demand_train_data = pd.concat(demand_temp, ignore_index=True)
solar_train_data = pd.concat(solar_temp, ignore_index=True)
wind_train_data = pd.concat(wind_temp, ignore_index=True)
price_train_data = pd.concat(price_temp, ignore_index=True)

In [106]:
swd = [solar_train_data, wind_train_data, demand_train_data]
swd_train_data = pd.concat(swd, axis=1, ignore_index=True)

swd_dict_values = []
for i in range(0,70176):
    swd_dict_values.append(swd_train_data.iloc[i,:])

swd_price_dict = {"swd":swd_dict_values, "price":price_train_data}
swd_price_dict['swd']

[0    0.000000
 1    0.152252
 2    0.457497
 Name: 0, dtype: float64,
 0    0.000000
 1    0.148860
 2    0.451951
 Name: 1, dtype: float64,
 0    0.000000
 1    0.147918
 2    0.446300
 Name: 2, dtype: float64,
 0    0.000000
 1    0.151686
 2    0.443134
 Name: 3, dtype: float64,
 0    0.000000
 1    0.153194
 2    0.439395
 Name: 4, dtype: float64,
 0    0.000000
 1    0.161485
 2    0.434551
 Name: 5, dtype: float64,
 0    0.000000
 1    0.199171
 2    0.431045
 Name: 6, dtype: float64,
 0    0.00000
 1    0.21010
 2    0.42669
 Name: 7, dtype: float64,
 0    0.000000
 1    0.202751
 2    0.423503
 Name: 8, dtype: float64,
 0    0.000000
 1    0.207273
 2    0.420741
 Name: 9, dtype: float64,
 0    0.000000
 1    0.192199
 2    0.418149
 Name: 10, dtype: float64,
 0    0.000000
 1    0.184285
 2    0.415727
 Name: 11, dtype: float64,
 0    0.000000
 1    0.183720
 2    0.413007
 Name: 12, dtype: float64,
 0    0.000000
 1    0.174298
 2    0.412582
 Name: 13, dtype: float64,
 0    0.000000
 1    0.164123
 2    0.410712
 Name: 14, dtype: float64,
 0    0.000000
 1    0.166572
 2    0.409225
 Name: 15, dtype: float64,
 0    0.000000
 1    0.205954
 2    0.407887
 Name: 16, dtype: float64,
 0    0.000000
 1    0.235161
 2    0.407292
 Name: 17, dtype: float64,
 0    0.000000
 1    0.252120
 2    0.407589
 Name: 18, dtype: float64,
 0    0.000000
 1    0.262107
 2    0.407419
 Name: 19, dtype: float64,
 0    0.000000
 1    0.228001
 2    0.408120
 Name: 20, dtype: float64,
 0    0.000000
 1    0.193895
 2    0.414983
 Name: 21, dtype: float64,
 0    0.000000
 1    0.194460
 2    0.416343
 Name: 22, dtype: float64,
 0    0.000000
 1    0.184850
 2    0.418191
 Name: 23, dtype: float64,
 0    0.000000
 1    0.221783
 2    0.420847
 Name: 24, dtype: float64,
 0    0.000000
 1    0.242698
 2    0.428644
 Name: 25, dtype: float64,
 0    0.000000
 1    0.099114
 2    0.430684
 Name: 26, dtype: float64,
 0    0.000000
 1    0.056529
 2    0.433297
 Name: 27, dtype: float64,
 0    0.004080
 1    0.176559
 2    0.433616
 Name: 28, dtype: float64,
 0    0.020734
 1    0.169210
 2    0.434806
 Name: 29, dtype: float64,
 0    0.063952
 1    0.176936
 2    0.431704
 Name: 30, dtype: float64,
 0    0.141061
 1    0.191822
 2    0.429579
 Name: 31, dtype: float64,
 0    0.219752
 1    0.217260
 2    0.427518
 Name: 32, dtype: float64,
 0    0.308935
 1    0.246279
 2    0.427157
 Name: 33, dtype: float64,
 0    0.380631
 1    0.261353
 2    0.421697
 Name: 34, dtype: float64,
 0    0.487301
 1    0.260034
 2    0.418234
 Name: 35, dtype: float64,
 0    0.489716
 1    0.270398
 2    0.414027
 Name: 36, dtype: float64,
 0    0.542010
 1    0.272470
 2    0.410415
 Name: 37, dtype: float64,
 0    0.568157
 1    0.256831
 2    0.405231
 Name: 38, dtype: float64,
 0    0.585478
 1    0.258150
 2    0.401789
 Name: 39, dtype: float64,
 0    0.588392
 1    0.256265
 2    0.396817
 Name: 40, dtype: float64,
 0    0.591140
 1    0.286414
 2    0.394969
 Name: 41, dtype: float64,
 0    0.559664
 1    0.347089
 2    0.392101
 Name: 42, dtype: float64,
 0    0.511700
 1    0.356699
 2    0.388595
 Name: 43, dtype: float64,
 0    0.526022
 1    0.373657
 2    0.388680
 Name: 44, dtype: float64,
 0    0.534433
 1    0.368570
 2    0.383878
 Name: 45, dtype: float64,
 0    0.513282
 1    0.346335
 2    0.384133
 Name: 46, dtype: float64,
 0    0.529769
 1    0.332768
 2    0.381223
 Name: 47, dtype: float64,
 0    0.570905
 1    0.368381
 2    0.380521
 Name: 48, dtype: float64,
 0    0.531268
 1    0.470888
 2    0.377611
 Name: 49, dtype: float64,
 0    0.484303
 1    0.543056
 2    0.379013
 Name: 50, dtype: float64,
 0    0.450079
 1    0.573017
 2    0.380309
 Name: 51, dtype: float64,
 0    0.437588
 1    0.547579
 2    0.383007
 Name: 52, dtype: float64,
 0    0.437922
 1    0.557942
 2    0.379714
 Name: 53, dtype: float64,
 0    0.446582
 1    0.567929
 2    0.379247
 Name: 54, dtype: float64,
 0    0.436672
 1    0.537027
 2    0.384176
 Name: 55, dtype: float64,
 0    0.486635
 1    0.521198
 2    0.392802
 Name: 56, dtype: float64,
 0    0.486635
 1    0.524590
 2    0.396541
 Name: 57, dtype: float64,
 0    0.499625
 1    0.535896
 2    0.402533
 Name: 58, dtype: float64,
 0    0.487801
 1    0.581496
 2    0.407419
 Name: 59, dtype: float64,
 0    0.429761
 1    0.613341
 2    0.415365
 Name: 60, dtype: float64,
 0    0.335998
 1    0.599962
 2    0.418212
 Name: 61, dtype: float64,
 0    0.333833
 1    0.602223
 2    0.426350
 Name: 62, dtype: float64,
 0    0.220085
 1    0.591671
 2    0.435634
 Name: 63, dtype: float64,
 0    0.139395
 1    0.592048
 2    0.444621
 Name: 64, dtype: float64,
 0    0.092597
 1    0.584134
 2    0.451760
 Name: 65, dtype: float64,
 0    0.045383
 1    0.564349
 2    0.463488
 Name: 66, dtype: float64,
 0    0.019985
 1    0.546825
 2    0.477043
 Name: 67, dtype: float64,
 0    0.005163
 1    0.544752
 2    0.491597
 Name: 68, dtype: float64,
 0    0.000000
 1    0.556812
 2    0.513651
 Name: 69, dtype: float64,
 0    0.000000
 1    0.568306
 2    0.524678
 Name: 70, dtype: float64,
 0    0.000000
 1    0.559450
 2    0.530457
 Name: 71, dtype: float64,
 0    0.000000
 1    0.543433
 2    0.532432
 Name: 72, dtype: float64,
 0    0.000000
 1    0.530243
 2    0.532348
 Name: 73, dtype: float64,
 0    0.000000
 1    0.506878
 2    0.532454
 Name: 74, dtype: float64,
 0    0.000000
 1    0.521198
 2    0.529458
 Name: 75, dtype: float64,
 0    0.000000
 1    0.600339
 2    0.529182
 Name: 76, dtype: float64,
 0    0.000000
 1    0.603354
 2    0.525974
 Name: 77, dtype: float64,
 0    0.000000
 1    0.587149
 2    0.525634
 Name: 78, dtype: float64,
 0    0.000000
 1    0.555870
 2    0.523105
 Name: 79, dtype: float64,
 0    0.000000
 1    0.557189
 2    0.520152
 Name: 80, dtype: float64,
 0    0.000000
 1    0.556435
 2    0.515903
 Name: 81, dtype: float64,
 0    0.000000
 1    0.549840
 2    0.512928
 Name: 82, dtype: float64,
 0    0.000000
 1    0.532127
 2    0.508785
 Name: 83, dtype: float64,
 0    0.000000
 1    0.522329
 2    0.503941
 Name: 84, dtype: float64,
 0    0.000000
 1    0.547956
 2    0.499926
 Name: 85, dtype: float64,
 0    0.000000
 1    0.557565
 2    0.494784
 Name: 86, dtype: float64,
 0    0.000000
 1    0.599020
 2    0.488665
 Name: 87, dtype: float64,
 0    0.000000
 1    0.616167
 2    0.481930
 Name: 88, dtype: float64,
 0    0.000000
 1    0.636518
 2    0.474069
 Name: 89, dtype: float64,
 0    0.000000
 1    0.644620
 2    0.466675
 Name: 90, dtype: float64,
 0    0.000000
 1    0.628604
 2    0.458368
 Name: 91, dtype: float64,
 0    0.000000
 1    0.613341
 2    0.451187
 Name: 92, dtype: float64,
 0    0.000000
 1    0.612022
 2    0.444473
 Name: 93, dtype: float64,
 0    0.000000
 1    0.629169
 2    0.437122
 Name: 94, dtype: float64,
 0    0.000000
 1    0.656115
 2    0.431236
 Name: 95, dtype: float64,
 0    0.000000
 1    0.646693
 2    0.425457
 Name: 96, dtype: float64,
 0    0.000000
 1    0.645562
 2    0.423481
 Name: 97, dtype: float64,
 0    0.000000
 1    0.628604
 2    0.418977
 Name: 98, dtype: float64,
 0    0.000000
 1    0.624647
 2    0.415132
 Name: 99, dtype: float64,
 0    0.000000
 1    0.648200
 2    0.410819
 Name: 100, dtype: float64,
 0    0.000000
 1    0.606369
 2    0.408099
 Name: 101, dtype: float64,
 0    0.000000
 1    0.521010
 2    0.406293
 Name: 102, dtype: float64,
 0    0.000000
 1    0.485774
 2    0.404254
 Name: 103, dtype: float64,
 0    0.000000
 1    0.435839
 2    0.399473
 Name: 104, dtype: float64,
 0    0.000000
 1    0.446203
 2    0.398538
 Name: 105, dtype: float64,
 0    0.000000
 1    0.441116
 2    0.396732
 Name: 106, dtype: float64,
 0    0.000000
 1    0.453740
 2    0.395351
 Name: 107, dtype: float64,
 0    0.000000
 1    0.449218
 2    0.394671
 Name: 108, dtype: float64,
 0    0.000000
 1    0.449783
 2    0.397030
 Name: 109, dtype: float64,
 0    0.000000
 1    0.440550
 2    0.396775
 Name: 110, dtype: float64,
 0    0.000000
 1    0.457509
 2    0.396669
 Name: 111, dtype: float64,
 0    0.000000
 1    0.470699
 2    0.400748
 Name: 112, dtype: float64,
 0    0.000000
 1    0.466742
 2    0.406463
 Name: 113, dtype: float64,
 0    0.000000
 1    0.448464
 2    0.410309
 Name: 114, dtype: float64,
 0    0.000000
 1    0.474279
 2    0.414112
 Name: 115, dtype: float64,
 0    0.000000
 1    0.487281
 2    0.419253
 Name: 116, dtype: float64,
 0    0.000000
 1    0.506689
 2    0.431767
 Name: 117, dtype: float64,
 0    0.000000
 1    0.538346
 2    0.439331
 Name: 118, dtype: float64,
 0    0.000000
 1    0.530243
 2    0.448148
 Name: 119, dtype: float64,
 0    0.000000
 1    0.552478
 2    0.456562
 Name: 120, dtype: float64,
 0    0.000000
 1    0.567929
 2    0.475110
 Name: 121, dtype: float64,
 0    0.000000
 1    0.544752
 2    0.484161
 Name: 122, dtype: float64,
 0    0.000000
 1    0.536838
 2    0.492999
 Name: 123, dtype: float64,
 0    0.003248
 1    0.566045
 2    0.497631
 Name: 124, dtype: float64,
 0    0.029062
 1    0.541737
 2    0.506512
 Name: 125, dtype: float64,
 0    0.079107
 1    0.467873
 2    0.508509
 Name: 126, dtype: float64,
 0    0.151303
 1    0.382514
 2    0.511420
 Name: 127, dtype: float64,
 0    0.237072
 1    0.335218
 2    0.513013
 Name: 128, dtype: float64,
 0    0.324423
 1    0.287168
 2    0.517985
 Name: 129, dtype: float64,
 0    0.406195
 1    0.267571
 2    0.515117
 Name: 130, dtype: float64,
 0    0.476892
 1    0.246655
 2    0.511016
 Name: 131, dtype: float64,
 0    0.512282
 1    0.214057
 2    0.507999
 Name: 132, dtype: float64,
 0    0.551919
 1    0.185981
 2    0.504812
 Name: 133, dtype: float64,
 0    0.589391
 1    0.139062
 2    0.497716
 Name: 134, dtype: float64,
 0    0.600133
 1    0.132843
 2    0.492192
 Name: 135, dtype: float64,
 0    0.585977
 1    0.145280
 2    0.486795
 Name: 136, dtype: float64,
 0    0.565493
 1    0.166196
 2    0.481824
 Name: 137, dtype: float64,
 0    0.572321
 1    0.200867
 2    0.477150
 Name: 138, dtype: float64,
 0    0.564327
 1    0.202186
 2    0.473814
 Name: 139, dtype: float64,
 0    0.582147
 1    0.187865
 2    0.470160
 Name: 140, dtype: float64,
 0    0.610875
 1    0.183154
 2    0.467483
 Name: 141, dtype: float64,
 0    0.611791
 1    0.198040
 2    0.464083
 Name: 142, dtype: float64,
 0    0.601466
 1    0.189749
 2    0.463297
 Name: 143, dtype: float64,
 0    0.586560
 1    0.192011
 2    0.460684
 Name: 144, dtype: float64,
 0    0.574319
 1    0.192011
 2    0.458623
 Name: 145, dtype: float64,
 0    0.586394
 1    0.178444
 2    0.457773
 Name: 146, dtype: float64,
 0    0.587143
 1    0.167703
 2    0.458155
 Name: 147, dtype: float64,
 0    0.570988
 1    0.160354
 2    0.459090
 Name: 148, dtype: float64,
 0    0.590890
 1    0.147353
 2    0.459834
 Name: 149, dtype: float64,
 0    0.583562
 1    0.143772
 2    0.461916
 Name: 150, dtype: float64,
 0    0.585061
 1    0.143584
 2    0.464211
 Name: 151, dtype: float64,
 0    0.562661
 1    0.135293
 2    0.465953
 Name: 152, dtype: float64,
 0    0.558664
 1    0.131713
 2    0.468141
 Name: 153, dtype: float64,
 0    0.504455
 1    0.106652
 2    0.471243
 Name: 154, dtype: float64,
 0    0.486552
 1    0.087055
 2    0.473304
 Name: 155, dtype: float64,
 0    0.453660
 1    0.087055
 2    0.478488
 Name: 156, dtype: float64,
 0    0.397285
 1    0.084417
 2    0.484862
 Name: 157, dtype: float64,
 0    0.340411
 1    0.072923
 2    0.490981
 Name: 158, dtype: float64,
 0    0.262137
 1    0.065574
 2    0.498651
 Name: 159, dtype: float64,
 0    0.176701
 1    0.068023
 2    0.506831
 Name: 160, dtype: float64,
 0    0.098010
 1    0.070285
 2    0.514224
 Name: 161, dtype: float64,
 0    0.042718
 1    0.065008
 2    0.524550
 Name: 162, dtype: float64,
 0    0.012324
 1    0.067081
 2    0.535449
 Name: 163, dtype: float64,
 0    0.004247
 1    0.068400
 2    0.552128
 Name: 164, dtype: float64,
 0    0.003581
 1    0.062747
 2    0.570123
 Name: 165, dtype: float64,
 0    0.003747
 1    0.069531
 2    0.582276
 Name: 166, dtype: float64,
 0    0.003914
 1    0.072546
 2    0.586568
 Name: 167, dtype: float64,
 0    0.003997
 1    0.077633
 2    0.588671
 Name: 168, dtype: float64,
 0    0.003997
 1    0.068400
 2    0.586802
 Name: 169, dtype: float64,
 0    0.003997
 1    0.060675
 2    0.586079
 Name: 170, dtype: float64,
 0    0.003997
 1    0.062182
 2    0.584146
 Name: 171, dtype: float64,
 0    0.003997
 1    0.066704
 2    0.582765
 Name: 172, dtype: float64,
 0    0.003997
 1    0.059732
 2    0.579791
 Name: 173, dtype: float64,
 0    0.003914
 1    0.047484
 2    0.576604
 Name: 174, dtype: float64,
 0    0.003914
 1    0.039382
 2    0.574054
 Name: 175, dtype: float64,
 0    0.003997
 1    0.035990
 2    0.570400
 Name: 176, dtype: float64,
 0    0.000666
 1    0.045600
 2    0.565789
 Name: 177, dtype: float64,
 0    0.000666
 1    0.046731
 2    0.561582
 Name: 178, dtype: float64,
 0    0.000666
 1    0.046731
 2    0.557631
 Name: 179, dtype: float64,
 0    0.000000
 1    0.055964
 2    0.552340
 Name: 180, dtype: float64,
 0    0.000000
 1    0.065197
 2    0.546370
 Name: 181, dtype: float64,
 0    0.000000
 1    0.071792
 2    0.540761
 Name: 182, dtype: float64,
 0    0.000000
 1    0.077256
 2    0.533410
 Name: 183, dtype: float64,
 0    0.000000
 1    0.073111
 2    0.524444
 Name: 184, dtype: float64,
 0    0.000000
 1    0.068589
 2    0.515542
 Name: 185, dtype: float64,
 0    0.000000
 1    0.065008
 2    0.505917
 Name: 186, dtype: float64,
 0    0.000000
 1    0.071415
 2    0.497525
 Name: 187, dtype: float64,
 0    0.000000
 1    0.080083
 2    0.488708
 Name: 188, dtype: float64,
 0    0.000000
 1    0.090447
 2    0.483481
 Name: 189, dtype: float64,
 0    0.000000
 1    0.092708
 2    0.471371
 Name: 190, dtype: float64,
 0    0.000000
 1    0.095534
 2    0.462787
 Name: 191, dtype: float64,
 0    0.000000
 1    0.094780
 2    0.455967
 Name: 192, dtype: float64,
 0    0.000000
 1    0.094592
 2    0.451569
 Name: 193, dtype: float64,
 0    0.000000
 1    0.093085
 2    0.445386
 Name: 194, dtype: float64,
 0    0.000000
 1    0.101564
 2    0.440627
 Name: 195, dtype: float64,
 0    0.000000
 1    0.102506
 2    0.435974
 Name: 196, dtype: float64,
 0    0.000000
 1    0.103260
 2    0.430833
 Name: 197, dtype: float64,
 0    0.000000
 1    0.101752
 2    0.426668
 Name: 198, dtype: float64,
 0    0.000000
 1    0.099303
 2    0.423439
 Name: 199, dtype: float64,
 0    0.000000
 1    0.096476
 2    0.420911
 Name: 200, dtype: float64,
 0    0.00000
 1    0.09968
 2    0.41970
 Name: 201, dtype: float64,
 0    0.000000
 1    0.112116
 2    0.417150
 Name: 202, dtype: float64,
 0    0.000000
 1    0.119842
 2    0.416406
 Name: 203, dtype: float64,
 0    0.000000
 1    0.121726
 2    0.416109
 Name: 204, dtype: float64,
 0    0.000000
 1    0.110609
 2    0.416725
 Name: 205, dtype: float64,
 0    0.000000
 1    0.102695
 2    0.415450
 Name: 206, dtype: float64,
 0    0.000000
 1    0.094027
 2    0.416598
 Name: 207, dtype: float64,
 0    0.000000
 1    0.088939
 2    0.418595
 Name: 208, dtype: float64,
 0    0.000000
 1    0.089316
 2    0.424714
 Name: 209, dtype: float64,
 0    0.000000
 1    0.089881
 2    0.427136
 Name: 210, dtype: float64,
 0    0.000333
 1    0.089693
 2    0.430471
 Name: 211, dtype: float64,
 0    0.000250
 1    0.089693
 2    0.437015
 Name: 212, dtype: float64,
 0    0.000250
 1    0.091389
 2    0.449274
 Name: 213, dtype: float64,
 0    0.000250
 1    0.092142
 2    0.455563
 Name: 214, dtype: float64,
 0    0.000250
 1    0.093461
 2    0.463573
 Name: 215, dtype: float64,
 0    0.000250
 1    0.090447
 2    0.471774
 Name: 216, dtype: float64,
 0    0.000250
 1    0.088939
 2    0.490280
 Name: 217, dtype: float64,
 0    0.000250
 1    0.083098
 2    0.498948
 Name: 218, dtype: float64,
 0    0.000500
 1    0.076126
 2    0.507532
 Name: 219, dtype: float64,
 0    0.006162
 1    0.067835
 2    0.511909
 Name: 220, dtype: float64,
 0    0.034474
 1    0.064255
 2    0.519685
 Name: 221, dtype: float64,
 0    0.085436
 1    0.063689
 2    0.521831
 Name: 222, dtype: float64,
 0    0.143059
 1    0.064820
 2    0.522340
 Name: 223, dtype: float64,
 0    0.236323
 1    0.065574
 2    0.520598
 Name: 224, dtype: float64,
 0    0.301191
 1    0.068400
 2    0.520853
 Name: 225, dtype: float64,
 0    0.367474
 1    0.062747
 2    0.518091
 Name: 226, dtype: float64,
 0    0.455242
 1    0.057660
 2    0.512780
 Name: 227, dtype: float64,
 0    0.517945
 1    0.042585
 2    0.507362
 Name: 228, dtype: float64,
 0    0.533017
 1    0.043339
 2    0.502241
 Name: 229, dtype: float64,
 0    0.577817
 1    0.053514
 2    0.496760
 Name: 230, dtype: float64,
 0    0.599634
 1    0.051065
 2    0.492234
 Name: 231, dtype: float64,
 0    0.601466
 1    0.051630
 2    0.488623
 Name: 232, dtype: float64,
 0    0.601299
 1    0.052195
 2    0.482950
 Name: 233, dtype: float64,
 0    0.624115
 1    0.015263
 2    0.478616
 Name: 234, dtype: float64,
 0    0.618370
 1    0.064820
 2    0.475705
 Name: 235, dtype: float64,
 0    0.635357
 1    0.072357
 2    0.471817
 Name: 236, dtype: float64,
 0    0.660671
 1    0.074995
 2    0.468269
 Name: 237, dtype: float64,
 0    0.648430
 1    0.074995
 2    0.462915
 Name: 238, dtype: float64,
 0    0.662087
 1    0.072546
 2    0.461279
 Name: 239, dtype: float64,
 0    0.640520
 1    0.071415
 2    0.457730
 Name: 240, dtype: float64,
 0    0.621950
 1    0.073676
 2    0.456944
 Name: 241, dtype: float64,
 0    0.620535
 1    0.075561
 2    0.455755
 Name: 242, dtype: float64,
 0    0.620368
 1    0.078010
 2    0.455223
 Name: 243, dtype: float64,
 0    0.632609
 1    0.084605
 2    0.456498
 Name: 244, dtype: float64,
 0    0.626030
 1    0.084982
 2    0.457327
 Name: 245, dtype: float64,
 0    0.599384
 1    0.090447
 2    0.459791
 Name: 246, dtype: float64,
 0    0.589558
 1    0.091766
 2    0.460535
 Name: 247, dtype: float64,
 0    0.578733
 1    0.094027
 2    0.462171
 Name: 248, dtype: float64,
 0    0.601882
 1    0.095534
 2    0.464381
 Name: 249, dtype: float64,
 0    0.548172
 1    0.096665
 2    0.468056
 Name: 250, dtype: float64,
 0    0.544508
 1    0.102883
 2    0.471817
 Name: 251, dtype: float64,
 0    0.521775
 1    0.107217
 2    0.474982
 Name: 252, dtype: float64,
 0    0.450829
 1    0.105521
 2    0.482567
 Name: 253, dtype: float64,
 0    0.368057
 1    0.100999
 2    0.488644
 Name: 254, dtype: float64,
 0    0.270880
 1    0.107028
 2    0.496696
 Name: 255, dtype: float64,
 0    0.195020
 1    0.109666
 2    0.503198
 Name: 256, dtype: float64,
 0    0.109418
 1    0.105898
 2    0.509571
 Name: 257, dtype: float64,
 0    0.052044
 1    0.101187
 2    0.520365
 Name: 258, dtype: float64,
 0    0.010825
 1    0.103825
 2    0.533070
 Name: 259, dtype: float64,
 0    0.001249
 1    0.104202
 2    0.545371
 Name: 260, dtype: float64,
 0    0.000250
 1    0.106463
 2    0.562708
 Name: 261, dtype: float64,
 0    0.000500
 1    0.108536
 2    0.575223
 Name: 262, dtype: float64,
 0    0.000583
 1    0.121726
 2    0.578282
 Name: 263, dtype: float64,
 0    0.000583
 1    0.131713
 2    0.580194
 Name: 264, dtype: float64,
 0    0.000583
 1    0.141511
 2    0.577177
 Name: 265, dtype: float64,
 0    0.000583
 1    0.148295
 2    0.575987
 Name: 266, dtype: float64,
 0    0.000583
 1    0.148672
 2    0.573672
 Name: 267, dtype: float64,
 0    0.000583
 1    0.147729
 2    0.571823
 Name: 268, dtype: float64,
 0    0.000583
 1    0.147353
 2    0.568020
 Name: 269, dtype: float64,
 0    0.000583
 1    0.144526
 2    0.564196
 Name: 270, dtype: float64,
 0    0.000500
 1    0.148483
 2    0.562496
 Name: 271, dtype: float64,
 0    0.000000
 1    0.150933
 2    0.559352
 Name: 272, dtype: float64,
 0    0.000000
 1    0.155643
 2    0.555379
 Name: 273, dtype: float64,
 0    0.000000
 1    0.156586
 2    0.552277
 Name: 274, dtype: float64,
 0    0.000000
 1    0.151875