In [24]:
import pandapower as pp
import pandapower.networks as pn
import numpy as np

In [25]:
net = pn.create_cigre_network_mv(with_der="all")

In [26]:
net

This pandapower network includes the following parameter tables:
   - bus (15 elements)
   - load (18 elements)
   - sgen (13 elements)
   - storage (2 elements)
   - switch (8 elements)
   - ext_grid (1 element)
   - line (15 elements)
   - trafo (2 elements)
   - bus_geodata (15 elements)

In [27]:
net.sgen # You only have to edit this table. Index 0-7 Solar. 8 Wind. 9-12 Diesel Generator and Fuel Cells (actions)

,name,bus,p_mw,q_mvar,sn_mva,scaling,in_service,type,current_source
0,PV 3,3,0.020,0.0,0.020,1.0,True,PV,True
1,PV 4,4,0.020,0.0,0.020,1.0,True,PV,True
2,PV 5,5,0.030,0.0,0.030,1.0,True,PV,True
3,PV 6,6,0.030,0.0,0.030,1.0,True,PV,True
4,PV 8,8,0.030,0.0,0.030,1.0,True,PV,True
5,PV 9,9,0.030,0.0,0.030,1.0,True,PV,True
6,PV 10,10,0.040,0.0,0.040,1.0,True,PV,True
7,PV 11,11,0.010,0.0,0.010,1.0,True,PV,True
8,WKA 7,7,1.500,0.0,1.500,1.0,True,WP,True
9,Residential fuel cell 1,5,0.033,0.0,0.033,1.0,True,Residential fuel cell,True
10,CHP diesel 1,9,0.310,0.0,0.310,1.0,True,CHP diesel,True
11,Fuel cell 1,9,0.212,0.0,0.212,1.0,True,Fuel cell,True
12,Residential fuel cell 2,10,0.014,0.0,0.014,1.0,True,Residential fuel cell,True

In [28]:
x = net.sgen['p_mw'][0:8]
y = [0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5]
z = x*y
z

0    0.010
1    0.010
2    0.015
3    0.015
4    0.015
5    0.015
6    0.020
7    0.005
Name: p_mw, dtype: float64

In [29]:
net.sgen['p_mw'][0:8] = z
net.sgen

,name,bus,p_mw,q_mvar,sn_mva,scaling,in_service,type,current_source
0,PV 3,3,0.010,0.0,0.020,1.0,True,PV,True
1,PV 4,4,0.010,0.0,0.020,1.0,True,PV,True
2,PV 5,5,0.015,0.0,0.030,1.0,True,PV,True
3,PV 6,6,0.015,0.0,0.030,1.0,True,PV,True
4,PV 8,8,0.015,0.0,0.030,1.0,True,PV,True
5,PV 9,9,0.015,0.0,0.030,1.0,True,PV,True
6,PV 10,10,0.020,0.0,0.040,1.0,True,PV,True
7,PV 11,11,0.005,0.0,0.010,1.0,True,PV,True
8,WKA 7,7,1.500,0.0,1.500,1.0,True,WP,True
9,Residential fuel cell 1,5,0.033,0.0,0.033,1.0,True,Residential fuel cell,True
10,CHP diesel 1,9,0.310,0.0,0.310,1.0,True,CHP diesel,True
11,Fuel cell 1,9,0.212,0.0,0.212,1.0,True,Fuel cell,True
12,Residential fuel cell 2,10,0.014,0.0,0.014,1.0,True,Residential fuel cell,True

In [30]:
# ESSs (Batteries) in the network. Will have to edit some values in columns.
net.storage

,name,bus,p_mw,q_mvar,sn_mva,soc_percent,min_e_mwh,max_e_mwh,scaling,in_service,type,min_p_mw,max_p_mw
0,Battery 1,5,0.6,0.0,0.2,NaN,0.0,NaN,1.0,True,Battery,-0.6,0.6
1,Battery 2,10,0.2,0.0,0.2,NaN,0.0,NaN,1.0,True,Battery,-0.2,0.2

In [31]:
# Line data !!!DON'T EDIT!!!
net.line

,name,std_type,from_bus,to_bus,length_km,r_ohm_per_km,x_ohm_per_km,c_nf_per_km,g_us_per_km,max_i_ka,df,parallel,type,in_service
0,Line 1-2,CABLE_CIGRE_MV,1,2,2.82,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
1,Line 2-3,CABLE_CIGRE_MV,2,3,4.42,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
2,Line 3-4,CABLE_CIGRE_MV,3,4,0.61,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
3,Line 4-5,CABLE_CIGRE_MV,4,5,0.56,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
4,Line 5-6,CABLE_CIGRE_MV,5,6,1.54,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
5,Line 7-8,CABLE_CIGRE_MV,7,8,1.67,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
6,Line 8-9,CABLE_CIGRE_MV,8,9,0.32,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
7,Line 9-10,CABLE_CIGRE_MV,9,10,0.77,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
8,Line 10-11,CABLE_CIGRE_MV,10,11,0.33,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
9,Line 3-8,CABLE_CIGRE_MV,3,8,1.30,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
10,Line 12-13,OHL_CIGRE_MV,12,13,4.89,0.510,0.366,10.09679,0.0,0.195,1.0,1,ol,True
11,Line 13-14,OHL_CIGRE_MV,13,14,2.99,0.510,0.366,10.09679,0.0,0.195,1.0,1,ol,True
12,Line 6-7,CABLE_CIGRE_MV,6,7,0.24,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
13,Line 11-4,CABLE_CIGRE_MV,11,4,0.49,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
14,Line 14-8,OHL_CIGRE_MV,14,8,2.00,0.510,0.366,10.09679,0.0,0.195,1.0,1,ol,True